<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 SMS Bot</title>
    <link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
	<style>
    .content{
        max-width: 500px;
        margin: auto;
    }
    h1 {text-align: center; padding: 70px 0;}
    p {text-align: center;}
    li {text-align: center;}
	</style>
</head>
<body>
    <h1>Coronavirus Count Text Bot</h1>
    <p>
        Text <b>33030-COVID (330-302-6843)</b> with any of the following:
        <li>{State abbreviation} (eg. "nj" or "CA")</li>
        <li>{State abbreviation} {County abbreviation} (eg. "nj mercer" or "IL Cook")</li><br>
    </p>
    <p>
        and you will get a text back with data about COVID-19 cases in that state and/or county!<br>
        Data courtesy of the <a href="https://github.com/nytimes/covid-19-data">New York Times.</a><br>

        Project by <a href="https://github.com/srijag2700">Srija Gottiparthi</a>.
    </p>
</body>
</html>